<main>
    <div class="main-body">
        <div class="title">
            My Services
        </div>
        <div class="accordion custom-accordion" id="servicesAccordion">

            <!-- Frontend Development -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed d-flex align-items-center justify-content-between"
                        type="button" data-bs-toggle="collapse" data-bs-target="#frontend" aria-expanded="false"
                        aria-controls="frontend">

                        <div class="d-flex align-items-center head">
                            <span class="accordion-number">01</span>
                            <i class="mx-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-code text-teal-400" aria-hidden="true">
                                    <path d="m16 18 6-6-6-6"></path>
                                    <path d="m8 6-6 6 6 6"></path>
                                </svg>
                            </i>
                            <span class="accordion-title">Frontend Development</span>
                        </div>

                        <i class="bi bi-chevron-down toggle-icon"></i>
                    </button>
                </h2>
                <div id="frontend" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#servicesAccordion">
                    <div class="accordion-body">
                        <p>
                            I specialize in building modern, responsive user interfaces using React, Next.js, and
                            TypeScript.
                            With expertise in state management (Redux, React Query) and UI frameworks (Tailwind CSS,
                            DaisyUI),
                            I focus on delivering intuitive, accessible experiences.
                        </p>
                        <a class="btn btn-teal" routerLink="/Contact" (click)="activatePage($event)">Get Started</a>
                    </div>
                </div>
            </div>

            <!-- Backend Development -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed d-flex align-items-center justify-content-between"
                        type="button" data-bs-toggle="collapse" data-bs-target="#backend" aria-expanded="false"
                        aria-controls="backend">

                        <div class="d-flex align-items-center head">
                            <span class="accordion-number">02</span>
                            <i class="mx-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-database text-teal-400"
                                    aria-hidden="true">
                                    <ellipse cx="12" cy="5" rx="9" ry="3"></ellipse>
                                    <path d="M3 5V19A9 3 0 0 0 21 19V5"></path>
                                    <path d="M3 12A9 3 0 0 0 21 12"></path>
                                </svg>
                            </i>
                            <span class="accordion-title">Backend Development</span>
                        </div>

                        <i class="bi bi-chevron-right toggle-icon"></i>
                    </button>
                </h2>
                <div id="backend" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#servicesAccordion">
                    <div class="accordion-body">
                        <p>
                            I build robust and scalable backends using PHP and Laravel with MySQL as the primary
                            database.
                            My experience includes working with both schema-based and OOP design using plain PHP, as
                            well as
                            developing APIs within the Laravel framework. I implement secure authentication solutions
                            with
                            JWT, OAuth, and Laravel Sanctum, while designing RESTful APIs that ensure efficient and
                            reliable
                            data handling.
                        </p>
                        <a class="btn btn-teal" routerLink="/Contact" (click)="activatePage($event)">Get Started</a>

                    </div>
                </div>
            </div>

            <!-- Full-Stack Solutions -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed d-flex align-items-center justify-content-between"
                        type="button" data-bs-toggle="collapse" data-bs-target="#fullstack" aria-expanded="false"
                        aria-controls="fullstack">

                        <div class="d-flex align-items-center head">
                            <span class="accordion-number">03</span>
                            <i class="mx-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-layers text-teal-400"
                                    aria-hidden="true">
                                    <path
                                        d="M12.83 2.18a2 2 0 0 0-1.66 0L2.6 6.08a1 1 0 0 0 0 1.83l8.58 3.91a2 2 0 0 0 1.66 0l8.58-3.9a1 1 0 0 0 0-1.83z">
                                    </path>
                                    <path d="M2 12a1 1 0 0 0 .58.91l8.6 3.91a2 2 0 0 0 1.65 0l8.58-3.9A1 1 0 0 0 22 12">
                                    </path>
                                    <path d="M2 17a1 1 0 0 0 .58.91l8.6 3.91a2 2 0 0 0 1.65 0l8.58-3.9A1 1 0 0 0 22 17">
                                    </path>
                                </svg>
                            </i>
                            <span class="accordion-title">Full-Stack Solutions</span>
                        </div>

                        <i class="bi bi-chevron-right toggle-icon"></i>
                    </button>
                </h2>
                <div id="fullstack" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#servicesAccordion">
                    <div class="accordion-body">
                        <p>
                            I deliver end-to-end web applications by combining frontend and backend expertise. My
                            toolkit
                            includes Next.js for server-side rendering (SSR), WebSockets for real-time features, and
                            TypeScript for strong type safety. I ensure seamless integration between the frontend and
                            backend, creating cohesive and efficient user experiences.
                        </p>
                        <a class="btn btn-teal" routerLink="/Contact" (click)="activatePage($event)">Get Started</a>

                    </div>
                </div>
            </div>

        </div>

    </div>
</main>